body{
    background-color: #cccccc ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    background-color: #2d1032;
    margin: auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px; 
    
}
.header{
    padding-bottom: 20px; 
}
.sub-header{
    background-color: #561b60;
    padding: 35px;
    border-radius: 10px;
}
.flex-header{
    background-color: #5289f4;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.header-title{
    color: #fecd23;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 28px;
}
.header-subtitle{
    color: #FFF;
    text-align: center;
   padding-bottom: 15px;
}