body{
    background-color: #cccccc ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    background: linear-gradient(#1f0d22,#641f70);
    margin: auto;
    width: 42.5rem;
    padding: 0.9rem 2.5rem 0.3rem;
    border-radius: 0.6rem;
    
}
.header{
    padding-bottom: 1.25rem;
}
.sub-header{
    background: linear-gradient(#631e70,#1e0c22);
    
    margin: auto;
    padding-top: 1.25rem;
    border-radius: 0.6rem;
    width: 43.1rem;
    
}
.flex-header{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.25rem;
    
    
}
.header-title{
    color: #fecd23;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1.75rem;
    text-transform: uppercase;
}
.header-subtitle{
    color: #FFF;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}
.sub-header-title{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.6rem;
    text-align: center;
    
}

input{
    display: flex;
    flex-direction: column;
    width: 71%;
    height: 2.1rem;
    font-size: 1.1rem;
    padding-left: 0.5rem;

    
    margin: 1.5rem;
    margin-left: 14%;
    
    border-radius: 0.3rem;
    border: none;
}

.col-1{
    background: rgb(65,102,239);
    background: linear-gradient(#4065ef,#72cbfe);
    
    

    width: 25%;
    padding-top: 1.75rem;
    padding-bottom: 0.6rem;
    margin-top: 2.2rem;


    border: 0.6rem solid #2c31b8;
    border-radius: 0.6rem;
    
    

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    

    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.col-2{
    background: rgb(65,102,239);
    background: linear-gradient(#4065ef,#72cbfe);
    
    

    width: 25%;
    padding-top: 1.75rem;
    padding-bottom: 0.6rem;
    margin-top: 2.2rem;


    border: 0.6rem solid #2c31b8;
    border-radius: 0.6rem;
    
    

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    

    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}
.col-3{
    background: rgb(65,102,239);
    background: linear-gradient(#4065ef,#72cbfe);
    
    

    width: 25%;
    padding-top: 1.75rem;
    padding-bottom: 0.6rem;
    margin-top: 2.2rem;


    border: 0.6rem solid #2c31b8;
    border-radius: 0.6rem;
    
    

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    

    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.button{
    width: 63%;
    background-color: #2d1032;
    color: #FFF;
    
    padding: 0.9rem 1.25rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    
    cursor: pointer;
      
}
.button:hover{
    background-color: #561b60;
}
.footer{
    color: #FFF;
    font-size: 0.6rem;
    text-align: center;
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 47.5rem){
    .content{
        width: 40%;
        padding: 0.9rem 0.6rem 0.3rem;
        
    }
    .flex-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        
        
    }
    .header{
        padding: 0rem;
    }
    .sub-header{
        padding: 0rem;
        margin: 0rem;
        width: 86%;
        margin-left: 1.25rem;
        
        
    }

    .header-title{
        font-size: 1.5rem;
        padding-bottom: 1.25rem;
    }

    .header-subtitle{
        font-size: 0.75rem;
    }

    .sub-header-title{
        font-size: 1.25rem;
        padding: 1.25rem 0rem 0.3rem 0rem;

    }

    .col-1, .col-2, .col-3{
        width: 70%;
        margin: 0.6rem;
    }

    input{
        font-size: 0.8rem;
        width: 88%;

        margin: 0.9rem;

        box-sizing: border-box;
        
    }
}
